<div class="container">
  <h2 class="title">Upload Images</h2>
  <input type="file" (change)="onFileSelected($event)" class="file-input" multiple />
  <button (click)="onUpload()" class="upload-button">Upload</button>

  <div *ngIf="fileInfos.length > 0" class="modal">
    <h3>Image Information</h3>
    <div *ngFor="let fileInfo of fileInfos">
      <p>
        File Name: {{ fileInfo.fileName }}<br>
        Original File Size: {{ fileInfo.originalFileSize / 1024 | number:'1.2-2' }} KB<br>
        Estimated File Size: {{ fileInfo.estimatedFileSize / 1024 | number:'1.2-2' }} KB<br>
        Compressed File Size: {{ fileInfo.compressedFileSize / 1024 | number:'1.2-2' }} KB
      </p>
    </div>
    <button (click)="onDownloadAll()" class="download-button">Download All</button>
    <button (click)="onCancel()" class="cancel-button">Cancel</button>
  </div>
</div>
